.logo{
    position: relative;
    top: 30px;
    left: 10%;
    font-family:DFKai-sb;
    text-decoration:none;
    font-size:40px;
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 600px;
}

.logo-title{
    position: relative;
    top: -62px;
    left: 200px;
    margin: 0px;
    padding: 0px;
}

.animate-box{
    position:absolute;
    left:0;
    width:100%;
    height:50px;
    background:rgb(245, 200, 134);
    animation-name:oxxo;
    animation-duration:2s;
}

.bar{
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    background-color: rgb(252, 224, 187);
}

ul{
    position:fixed;
    right:10%;
}

ul li{
    display:inline;
}

@keyframes oxxo{
    0%{
        top:0px;
    }
    90%{
        top:30px;
        animation-play-state: paused;
    }
}
